/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wide {
  width: 70%;
  padding: 6px 30px;
  border-radius: 5px;

}
