<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://pixabay.com/get/e83cb30921f4063ecd1f4103e4494494e16ae3d111b617489df9c971/game-1926907.png');">
  <div class="banner-content">
    <h1>'Ello, stranger...</h1>
    <h2>What're ya buyin?</h2>
    <form action="products/index" class="form-inline">
      <input class="wide" type="text" placeholder="My Little Pony">
      <input type="submit" value="Let's go!" class="btn btn-primary">
    </form>
  </div>
</div>

<div class="container">
  <h2>Stuff from the API here:</h2>
  <%= response = Unirest.get "https://igdbcom-internet-game-database-v1.p.mashape.com/games/?fields=name&limit=50&offset=0&order=name%3Aasc",
  headers:{
    "X-Mashape-Key" => "uexCl2svqwmshtvFj8S6P7AvWhoIp1KH4EfjsnG4XtFHPVJrRV",
    "Accept" => "application/json"
  } %>
  <% response.body.each do |game| %>
  <p><%= game["name"] %></p>
  <% end %>


</div>

<%#= link_to "new", new_user_product_offer_path() %>


