<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://unsplash.it/1200/1000/);">
  <div class="banner-content">
    <h1>Sweet Games</h1>
    <p>Like so sweet, and cool. It's a great website</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<%#= link_to "new", new_user_product_offer_path() %>
