// Your footer style

#footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: $footer-gray;
  padding: 25px;
  width: 100%;
  height: 70px;
  color: white;

}

.footer {
  background-color: #151515;
  padding: 25px;
  width: 100%;
  left: 0;
}

.left {
  float: left;
}

.right {
  float: right;
  display: flex;
  justify-content: space-around;
}

#footer a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

#footer a:hover {
  color: $orange;
  text-decoration: none;
  transition: all 0.2s ease;
}

.fa {
  font-size: 25px;
  margin: 0 10px;
}
