<div class=" container">
  <h1 class=" text-center dark-text">WOoOhhAA! SHazaamm! WWammBammM!</h1>
  <h2 class=" text-center dark-text"> You just deleted a product</h2>

    <div class=" text-center " > <%= link_to "Back to Profile", user_path(current_user.id), class: "btn btn-success" %></div>
    <div class=" text-center" > <%= link_to "home", root_path, class: "btn btn-success"%></div>

</div>
